li{list-style-type: none;}
.background{
	position: absolute;
	left: 0;
	width: 100%;
	object-fit: cover;
	z-index: -1;
}

.header-blob{
	top: -300px;
	height: 900px;
}



/* Create a custom radio button */




.footer-blob{
	transform: rotateX(180deg);
	height: 500px;
	bottom: -1200px;	

}

