@media screen and (max-width:1024px){
	.header{padding:0 10px;}
	.background{
		object-fit: cover;
	}

	.search-icon, .cart-icon{
		width: 32px;
		height: 32px;
	}
	.logo-icon{
		height: 40px;width: 40px;
	}
	.login-icon{
		width: 24px;
		height: 24px;
	}
	.nav-link, .login-text{
		font-size: 18px;
	}
	.login-btn{
		display: flex;
		align-items: center;
		padding: 6px 30px;
		border-radius: 40px;
		color: #CCCCCC;
		background-color: #CF1D1D;
	}


	.hero-text{
		/*background:blue;*/
		/*margin-top: 120%;*/
	}

	.hero_title{
		font-size: 30px;
		color: #CCCCCC;
		line-height: 50px;		
	}
	.hero-hl{
		color: #8B3131;
	}
	.hero_description{margin: 20px 0 60px 0; font-size: 18px;}
	.hero_action-btn{
		padding: 14px 40px;
		color: #fff;
		background-color: red;
		border-radius: 40px;
		font-weight: bold;
		font-size: 16px;
	}
	.hero-img{
		margin-top: 200px;
	}
	.hero-img{ 
		position: relative; display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.hero-img-parent{
		position: absolute;
		top:30%;
		right:0;
		bottom:0;
		width: 100%;
	}
	.hero{
		flex-direction: column;
		/*background: r?ed;*/
	}
	.popular{
		flex-direction: column;
		margin-top: 400px;
		padding: 0 10px;
	}

	.popular-title{
		color: #3D3D3D;
		font-size: 24px;
	}

	/*Nike*/
	.nike-section{
		margin-top: 10px;
		flex-direction: column;
		align-items: center;
		padding: 10px 10px;

	}
	.nike-blob{
		display: none;
	}
	.nike-header{
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		justify-content: space-between;
	}
	.nike-svg{
		width: 60px;
		height: 60px;
		margin-top: 30px;
		object-fit: cover;
	}

	.nike-slide-svg{
		width: 24px;
		height: 24px;
	}

	.nike-imgs{
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
	}




	.partners{
		margin: 0;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 0 10px;
	}

	.partners-svg{
		flex-direction: row;
		align-items: left;
	}
	.partner-img{
		height: 100px;width: 100px;
	}
	.partner-title{
		font-size: 24px;
	}
	.partner-logo{
		width: 100px;
		height: 100px;
	}
	
	.testimonials{
		margin: 30px 0;
		padding: 0 10px;
		flex-direction: column;
		align-items: center;
	}
		
	.testimonial-user-info{
		width: 100%;
		display: flex;

		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		flex-grow: 1;
	}


		.customer-photo{width: 50px;
		height: 50px;
		object-fit: cover;}
		.customer-name{
			font-size: 20px;
			color: #3D3D3D;

		}
		.customer-info{
			font-size: 18px;
			color: #3D3D3D;
			opacity: 0.7;
			text-align: center;
		}

		.testimonial-info{
			display:flex;
			flex-direction: column;
			flex-grow: 1;
			align-items: center;
			position:relative;
		}
		.testimonial-text{
			text-align: center;
			font-size: 18px;
			line-height: 30px;
			color: #3D3D3D;
			margin-left: 0;
		}
		.testimonial-background{
			display: none;	
		}

	/*Footer*/
	#footer{
		margin-top: 40px;
	}
	.category-title , .brand-title{
	font-size: 20px;
	}
	.category-list, .brand-list{
		font-size: 18px;
	}
	.footer-logo{width: 50px;
		height: 50px;}



}




/*Small*/
@media screen and (max-width:768px){
	.header{padding:0 10px;}
	.background{
		object-fit: cover;
	}
	/*.nav{position: relative;}*/
	.nav-ul{
		position: fixed;
		top: 0;
		right: 0;
		padding:10px;
		border-radius: 10px;
		box-sizing: border-box;
		flex-direction: column;
		align-items: right;
		justify-content: flex-end;
		background-color: #000000;
		z-index: 9999;
	}
	.menu-icon{
		display: block;
		height: 30px;width: 30px;

	}
	.logo-icon{
		height: 32px;width: 30px;
	}

	.hero-text{
		/*background:blue;*/
		/*margin-top: 120%;*/
	}

	.hero_title{
		font-size: 30px;
		color: #CCCCCC;
		line-height: 50px;		
	}
	.hero-hl{
		color: #8B3131;
	}
	.hero_description{margin: 20px 0 60px 0; font-size: 18px;}
	.hero_action-btn{
		padding: 14px 50px;
		color: #fff;
		border-radius: 40px;
		font-weight: bold;
		font-size: 16px;
	}
	.hero-img{
		margin-top: 200px;
	}
	.hero-img{ 
		position: relative; display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.hero-img-parent{
		position: absolute;
		top:30%;
		right:0;
		bottom:0;
		width: 100%;
	}
	.hero-shoe{
		height: inherit;
		width: inherit;
		/*border:1px solid red;*/

	}
	.hero-blob{
		position: absolute;

	}
	.hero-blob-first{
		top: 0;
		right: 0;
		margin:-250px 40px 0 0;
		height: 200px;
		width: 100px;
		z-index: -1;
	}
	.hero-blob-second{
		left: 0;
		bottom: 0;
		margin:-60px 0 0 100px ;
		height: 100px;
		width: 60px;
		z-index: -1;
		/*border:1px solid red;*/
	}

	.hero-slide{
		position: absolute;
	    bottom:0;
	    left: 0;
	    transform: translate(400px, -100px);
		display: flex;align-items: center;
		justify-content: space-around;
	}
	.hero-slide-svg, .nike-slide-svg{
		margin-right: 8px;
		height: 24px;
		width: 24px;
	}



	.popular{
		flex-direction: column;
		margin-top: 80px;
	}
	
	.partners{
		margin: 0;
		flex-direction: column-reverse;
		align-items: center;
	}

	.partners-svg, .partners-header{
		width: 100%;
	}
	.partner-img{
		width: 100%;
		height: auto;
	}
	.testimonials{
		flex-direction: column;
	}
	#footer{
		padding-top: 180px;
	}
	.footer-top, .footer-bottom{
		padding: 6px 10px;
	}
	.footer-bk{
		position: absolute;
		left: 0;
		top: 100px;
		width: inherit;
		height: 90%;
		object-fit: cover;
		z-index: -1;
	}

	.category-title , .brand-title{
	font-size: 20px;
	}
	.category-list, .brand-list{
		font-size: 18px;
	}

	.footer-logo{display: none;}
	.social-icon{
		height: 20px;
		width: 20px;
	}
}

